<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1020978571003-89d6m1hga43kkqtdhe5fvsnk6vih7eah.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1020978571003-89d6m1hga43kkqtdhe5fvsnk6vih7eah</string>
	<key>API_KEY</key>
	<string>AIzaSyC0n5oCkVijUNH10vaPpCwflbBmuEqGbsM</string>
	<key>GCM_SENDER_ID</key>
	<string>1020978571003</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.CEO</string>
	<key>PROJECT_ID</key>
	<string>virus-enemy-or-opportunity</string>
	<key>STORAGE_BUCKET</key>
	<string>virus-enemy-or-opportunity.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1020978571003:ios:51f71d397939a38f86b25e</string>
</dict>
</plist>
